html{
    font-size: 12px;
    font-family: 'Kanit', sans-serif;
}
*{
    box-sizing: border-box;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body{
    margin: 0;
}
header{
    background-color: rgb(25, 135, 106);
    color: white;
    font-size: 2rem;
    padding: 10px;
}
.column-100{
    width: 100%;
    text-align: center;
    margin-left:  230px;
    margin-right: 230px;
}
.column-65{
    width: 65%;
}
.pad{
    margin-left: 144px;
}
.column-35{
    width: 35%;
    margin-top: 23px;
}
.column-35-2{
    width: 35%;
    margin-top: -117px;
}
.column-33{
    width: 33%;
}
.menu{
    margin-left: 30px;
    margin-top: 20px;
    width: 100%;
}
h4{
    font-size: 5rem;
}
p{
    font-size: 1.5rem;
}
.ventas{
    background-color: rgb(25, 135, 106);
    padding: 15px;
    color: white;
}
.bl{
    color: white;
    background-color: orange;
    font-size: 2rem;
}
.ne{
    color: black;
    font-size: 2rem;
}
nav{
    border-bottom: 2px solid orange
}
nav li{
    background-color: rgb(255, 255, 255);
    display: inline-block;
    padding: 15px 20px;
    text-align: left;
    padding: 20px;
    font-size: 1.5rem;
}
nav a{
    color: black;
    text-decoration: none;
}
nav li:hover{
    color: white;
    background-color: orange;
}
.libros{
    margin-top: 00px;
}
.text{
    text-align: center;
}
.la{
    font-size: 0.5rem;
}
@media screen and (max-width: 700px){
    .column-100{
        margin-left:10px;
        margin-right: 10px;
    }
    .column-65{
        width: 100%;
    }
    .pad{
        margin-left: 20px;
        margin-right: 20px;
    }
    .column-35{
        width: 100%;
        margin-right: 25px;
    }
    .column-35-10{
        width: 100%;
        margin-right: 25px;
    }
    li{
        width: 100%;
    }
    .lol{
        width: 570px;
    }
    .column-33{
        width: 100%;
        text-align: center;
    }
    .column-35-1{
        width: 100%;
    }
    .pad{
        margin-left: 10px;
    }
    .libros{
        margin-top: 0px;
    }
    .menu{
        margin-top: 0px;
    }
    .column-35-2{
        width: 100%;
        margin-top: 0px;
    }
    }